<div class="Header">
    <div class="nav">
        <div class="Header__logo">
            <a href="/">
                <img src="/images/logo.png" alt="Logo" />
            </a>
        </div>
        <div class="Header__nav">
            <ul class="head">
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>