<style>
    header {
        background-color: #ccc;
        display: flex;
        padding: 20px;
    }

    .navn {
        display: flex;
        flex-direction: row;
        list-style: none; 
        margin-top: 20px;
    }

    .li-item{
        margin: 0 10px;
        font-size: 20px;
    }
</style>

<div class="header">
    <div class="navcl">
        <ul class="navn">
            <li class="li-item"><a href="">My Booking</a></li>
            <li class="li-item"><a href="">Book Ticket</a></li>
            <li class="li-item"><a href="/users/logout" class="btn btn-secondary">Logout</a></li>
        </ul>
    </div>
</div>