<h1>Reset Password</h1>
<form>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="newPass" class="form-control" />
        <label class="form-label" for="form2Example2">New Password</label>
    </div>

    <!-- Repeat Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="repeatNewPass" class="form-control" />
        <label class="form-label" for="form2Example2">Reapeat New Password</label>
    </div>



    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4">Reset Password</button>


</form>